---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="date">
   {{ page.date | date: "%b %e, %Y" }}
  </div>

  <div class="entry">
    {{ content }}
  </div>

<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fholbemn.github.io&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="{{ site.baseurl }}/images/Facebook.png"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fholbemn.github.io&text=:%20http%3A%2F%2Fholbemn.github.io&via=holbemn" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="{{ site.baseurl }}/images/Twitter.png"></a></li>
  <li><a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fholbemn.github.io&t=&s=" target="_blank" title="Post to Tumblr" onclick="window.open('http://www.tumblr.com/share?v=3&u=' + encodeURIComponent(document.URL) + '&t=' +  encodeURIComponent(document.title)); return false;"><img alt="Post to Tumblr" src="{{ site.baseurl }}/images/Tumblr.png"></a></li>
  <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fholbemn.github.io&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Submit to Reddit" src="{{ site.baseurl }}/images/Reddit.png"></a></li>
</ul>

  {% include disqus.html %}
</article>
